<div class="wrapper">

  
  <div class="area text-center">

    <div class="level0 " id="level0">

      <img src="assets/classic/classic2new.png" class="room ">
      <div class="topbar progress-container progress-danger">
        <span class="toptext"> GREY MATTER ESCAPE ROOMS • Classic Box • Player 2 • Team name </span>        
      </div>

      <div class=" one" (click)="expandPiece('1')"></div>
      <div class=" two" (click)="expandPiece('2')"></div>
      <div class=" three" (click)="expandPiece('3')"></div>
      <div class=" four" (click)="expandPiece('4')"></div>
      <div class=" five" (click)="expandPiece('5')"></div>
      <div class=" six" (click)="expandPiece('6')"></div>
      <div class=" seven" (click)="expandPiece('7')"></div>
      <div class=" eight" (click)="expandPiece('8')"></div>


      <div *ngIf='key1' class="one1" (click)="hidePiece('1')"></div>
      <div *ngIf='key2' class="two2" (click)="hidePiece('2')"></div>
      <div *ngIf='key3' class="three3" (click)="hidePiece('3')"></div>
      <div *ngIf='key4' class="four4" (click)="hidePiece('4')"></div>
      <div *ngIf='key5' class="five5" (click)="hidePiece('5')"></div>
      <div *ngIf='key6' class="six6" (click)="hidePiece('6')"></div>
      <div *ngIf='key7' class="seven7" (click)="hidePiece('7')"></div>
      <div *ngIf='key8' class="eight8" (click)="hidePiece('8')"></div>

      <div class="books" (click)="expandPiece('books')"></div>
      <div *ngIf='books' class="books1" (click)="hidePiece('books')"></div>

      <div class="bottle" (click)="expandPiece('bottle')"></div>
      <div *ngIf='cardClue' class="bottle2" ></div>
      <div *ngIf='bottle' class="bottle1" >
    
           <input #bottlecode id="bottlecode" class="inputbtl w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
           <div class="bttnbtl"  (click)="checkCode(bottlecode.value, 'bottle')"></div>
                                                                        
    </div>
    
          <div class="safecode"  (click)="expandPiece('safe')"></div>            
      <div *ngIf='showSafe' class=" safecode1">
           <input #finalcode id="finalcode" class="inputans w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
           <div class="bttnans"  (click)="checkCode(finalcode.value, 'safe')"></div> 
      </div>

      <div class="scrollclue" (click)="expandPiece('scrollclue')"></div>
<div *ngIf='scrollclue' class="scrollclue1"></div>    

<div class="lockclue" (click)="expandPiece('lockclue')"></div>
<div *ngIf='lockclue' class="lockclue1">
  <input #lockcode id="lockcode" class="inputlock w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
     <div class="bttnlock"  (click)="checkCode(lockcode.value, 'lock')"></div> 
</div>  
<div *ngIf='arrow'class="arrow" ></div>
<div class="hints" (click)="hintsection=!hintsection"></div>


<div *ngIf='hintsection' class="hintsection card card-coin card-plain">
  <div class="">
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-danger mr-1">Spoiler Alert !</button>          
        <hr class="line-primary" />

        <button type="button" (click)="hint1=!hint1" class="btn btn-primary btn-sm mr-1">Hint 1</button>
        <p *ngIf='hint1' class="text-primary">
          I will be the leader of a company that ends up being worth
          billions of dollars, because I got the answers...
        </p>
        <button type="button" (click)="hint2=!hint2;" class="btn btn-primary btn-sm mr-1">Hint 2</button>
        <p *ngIf='hint2' class="text-primary">
          I will be the leader of a company that ends up being worth
          billions of dollars, because I got the answers...
        </p>
        <button type="button" (click)="hint3=!hint3;" class="btn btn-primary btn-sm mr-1">Hint 3</button>
        <p *ngIf='hint3' class="text-primary">
          I will be the leader of a company that ends up being worth
          billions of dollars, because I got the answers...
        </p>
      </div>
    </div>

  </div>
</div>

    </div>

  </div>


</div>











<!--













<div class="wrapper">

  <section class="section section-lg section-coins">

    <div class="scroll">

      <div class="level2">


      </div>

      <div class="level1">

        <div class="cardsdisp">
          <div class="card one" (click)="expandPiece('')"></div>
          <div class="card two" (click)="expandPiece('r')"></div>
          <div class="card three" (click)="expandPiece('g')"></div>
          <div class="card four" (click)="expandPiece('b')"></div>
          <div class="card five" (click)="expandPiece('y')"></div>
          <div class="card six" (click)="expandPiece('r')"></div>
          <div class="card seven" (click)="expandPiece('g')"></div>
          <div class="card eight" (click)="expandPiece('b')"></div>
        </div>

        <div *ngIf=showCard class="showingcard one"></div>

      </div>
      <div class="level0" id="level0">
        <img src="assets/classic/classic2.jpg" />
      </div>




    </div>












    
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        Drag me around
        
      </div>
    </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        test
      </div>
    </div>

  
  </section>

</div>

-->