<!--
  <nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> Classic Box • </span> Think inside the Box !<span> • Player 3  </span>
      </a>
   
       
    </div>
    
   
  </div>
</nav>   -->
<div class="wrapper" >
  
 

    <div class="container" >
      <img  src="assets/classic/classic3.jpg" class="imagebox" >
      <div class="buttons">
        <div class="piece1" (click)="expandPiece('y')"></div>
        <div class="piece2" (click)="expandPiece('r')"></div>
        <div class="piece3" (click)="expandPiece('g')" ></div>
        <div class="piece4"  (click)="expandPiece('b')"></div>  
     </div> 
    </div>

    <!--
    <div>
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        Drag me around
        
      </div>
    </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        test
      </div>
    </div>
    -->

 
</div>

