<!--
  <nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> Classic Box • </span> Think inside the Box !<span> • Player 3  </span>
      </a>
   
       
    </div>
    
   
  </div>
</nav>   -->
<div class="wrapper" >
  
 

    <div class="area text-center" >
      <div class="level0 " id="level0" >
      <img  src="assets/classic/classic3.jpg" class="room " > 
      <div class="piece1" (click)="expandPiece('r')"></div>
      <div class="piece2" (click)="expandPiece('y')"></div>
        <div class="piece3" (click)="expandPiece('g')" ></div>
        <div class="piece4"  (click)="expandPiece('b')"></div> 
        <div *ngIf='redkey' class="piece11" (click)="hidePiece('r')"></div>
        <div *ngIf='yellowkey' class="piece22" (click)="hidePiece('y')"></div>
        <div *ngIf='greenkey' class="piece33" (click)="hidePiece('g')"></div>
        <div *ngIf='bluekey' class="piece44" (click)="hidePiece('b')"></div>
    </div>
    <!--  <div class="level1">
        <div class="piece1" (click)="expandPiece('y')"></div>
        <div class="piece2" (click)="expandPiece('r')"></div>
        <div class="piece3" (click)="expandPiece('g')" ></div>
        <div class="piece4"  (click)="expandPiece('b')"></div>  
     </div>   -->
    </div>

    <!--
    <div>
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        Drag me around
        
      </div>
    </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        test
      </div>
    </div>
    -->

 
</div>

