.spacing{
    align-items: center;
    text-align: center
}

.cont{
    width: 60% !important;
}
/* Hide scrollbar for chrome */
.scroll::-webkit-scrollbar {
    display: none;
    width: max-content;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
    -ms-overflow-style: none;
    
  }
  .tableformat{
    display: inline-block !important;
    width: 100% !important;
  }

  .center {
  margin-left: auto;
  margin-right: auto;
}

.titlebox{
  

/*  background-color: #171935; */
    -webkit-animation: move-left-right 11s infinite;
    animation: move-left-right 11s infinite;
    opacity: 0.9;
    border-radius: 45px;
    left: 20%;
    top: 27%;
    

}
/*
.titlemain{
    text-align: left;
    padding-top: 32px;
    padding-left: 0px;
    margin-left: -12px;
    font-weight: 550;
    font-size: 73px;
    font-family: revert;
    vertical-align: middle !important;
    color: ivory;
    display: flex;
    align-items: center;

}



.titlebox1 {
  padding: 5px 30px;
  border: 1px solid #171935;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 6px 12px rgb(81, 64, 231), inset -1px -10px 5px #171935, 1px 2px 1px black;
  -moz-box-shadow: inset 1px 6px 12px rgb(81, 64, 231), inset -1px -10px 5px #171935, 1px 2px 1px black;
  box-shadow: inset 1px 6px 12px rgb(81, 64, 231), inset -1px -10px 5px #171935, 1px 2px 1px black;
  background-color: rgb(2, 0, 128);
  color: white;
  text-shadow: 1px 1px 1px black;
}
*/