.spacing{
    align-items: center;
    text-align: center
}

.cont{
    width: 60% !important;
}
/* Hide scrollbar for chrome */
.scroll::-webkit-scrollbar {
    display: none;
    width: max-content;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
    -ms-overflow-style: none;
    
  }
  .tableformat{
    display: inline-block !important;
    width: 100% !important;
  }

  .center {
  margin-left: auto;
  margin-right: auto;
}

.titlebox{
  

/*  background-color: #171935; */
    -webkit-animation: move-left-right 11s infinite;
    animation: move-left-right 11s infinite;
    opacity: 0.9;
    border-radius: 45px;
    left: 20%;
    top: 27%;
    

}
/*
.titlemain{
    text-align: left;
    padding-top: 32px;
    padding-left: 0px;
    margin-left: -12px;
    font-weight: 550;
    font-size: 73px;
    font-family: revert;
    vertical-align: middle !important;
    color: ivory;
    display: flex;
    align-items: center;

}

*/