<div class="wrapper">
  <div *ngIf='startPage'>
    <!-- <img src="assets/classic/startpagetop.png" class="room ">
   -->
    <div class="startPage text-center">
      <h3 style="margin-bottom: 2px;">CURSED BOX</h3>
      <i class="text-primary">“It's hard to replace the Grey Matter that is inherent in every human being. No computer can do it quite that well yet.”
      </i> <br><br>
      <h4 style="margin-bottom: 2px;">Player 1</h4>

      <div style="padding: 0px 140px 0px 140px; line-height: 30px;" class="text-left">
        <br><br>

        <h4 style="margin-bottom: 2px;">How to Play</h4>
        <p>
          ◆ Get you team ready to login at the same time!
          <br>
          ◆ Login using your Team Name and the unique Player 1 login code provided via email. We recommend playing in a
          Laptop/PC.
          <br>
          ◆ Get into a Video call with your team to decide your Game Plan!
          <br>
          ◆ DO NOT share your screen with your teammates, you can describe it to them though!
          <br>
          ◆ The Hints button is available in the bottom left corner of your screen. Use only if absolutely necessary.
          <br>
          ◆ If you are stuck at any point, drop us an email or text for hints/issues.
          <br>
          ◆ Once any member of your team logs in, the clock starts ticking! Only the top teams will make it into out
          leader board.
          <br>
          <br>
    
        </p>

        <h4 style="margin-bottom: 2px;">Story Line</h4>
        <p>
          Three archaeologists discover a mysterious tomb during an excavation.
          As they explore the 5000 year old ruins, they find that it belong ot the evil tyrant 'Blood King' Groyder. While searching the ruins, they accidentally activate a trap and find themselves separated and locked in the three different chambers!
          Player 1: The Crimson Knight's Chamber
          Player 2: The Dark Mage's Chamber
          Player 3: The Emperor's Chamber
          <br>
          Can they work together to solve the puzzles with the clues being scattered across the chambers and escape the Pyramid? Or will they be cursed and trapped forever in the ruins?!
          <br>
          <br>
        </p>
          
        <h4 style="margin-bottom: 2px;">You are Player 1</h4>
          <p>
          You enter the Corridor, there is a Treasure Chest in the room that holds the key to Escape the Cursed Box!
          <br>Find the CODE that opens the Treasure Chest!
          <br><br>
        </p>
      </div>

      <br><br>


    </div>
    <div style="position: relative; margin: -2px;">
      <img src="assets/classic/startpagebottom.png" class="room ">
      <div class="container endpage">
        <div style="padding:10px 45px 10px 45px;" class="card card-coin card-plain">
          <div class="text-center">
            <p> Enter Team Name and Player 1 Code recieved </p>
            <hr class="line-primary" />
            <input class="form-control" placeholder="Team Name" type="text" (focus)="focus = true"
              (blur)="focus = false" #teamname />
            <input class="form-control" placeholder="Player 1 code" type="text" (focus)="focus = true"
              (blur)="focus = false" #playerOne />
            <div class="btn btn-primary btn-simple"
              (click)="checkTeamCode(teamname.value, playerOne.value, 'one' ,'cursed');">
              <strong>Start Game</strong>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isError">
          <h3>Please enter correct {{err}} code </h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf='gamePage' class="area text-center">
    <div class="level0 " id="level0">
      <img src="assets/pyramid/p1_room.png" class="room ">
      <div class="topbar progress-container progress-danger">
        <span class="toptext"> GREY MATTER ESCAPE ROOMS • Cursed Box • Player 1 • {{teamName}} </span>
      </div>

      <div class="pyramid" (click)="expandPiece('pyr')"></div>
      <div *ngIf='pyramidclue' class="pyramidclue">
        <input #pyr1 id="pyr1"
          class="inputlock w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
        <div class="bttnlock" (click)="checkCode(pyr1.value, 'pyr1')"></div>
      </div>
      
      <div *ngIf='scorpionclue' class="scorpionclue1" ></div>
      <div *ngIf='scorpionclue' class="scorpionclue2" (click)="expandPiece('colour')"  >
           <div  class="blue1" (click)="blue1=true" ></div>
            <div *ngIf='blue1' class="blue11" (click)="blue1=false" ></div>
            <div  class="blue2" (click)="blue2=true" ></div>
            <div *ngIf='blue2' class="blue21" (click)="blue2=false" ></div>
            <div  class="blue3" (click)="blue3=true" ></div>
            <div *ngIf='blue3' class="blue31" (click)="blue3=false" ></div>
            <div  class="blue4" (click)="blue4=true" ></div>
            <div *ngIf='blue4' class="blue41" (click)="blue4=false" ></div>
            <div  class="blue5" (click)="blue5=true" ></div>
            <div *ngIf='blue5' class="blue51" (click)="blue5=false" ></div>

            <div  class="red1" (click)="red1=true" ></div>
            <div *ngIf='red1' class="red11" (click)="red1=false" ></div>
            <div  class="red2" (click)="red2=true" ></div>
            <div *ngIf='red2' class="red21" (click)="red2=false" ></div>
            <div  class="red3" (click)="red3=true" ></div>
            <div *ngIf='red3' class="red31" (click)="red3=false" ></div>
            <div  class="red4" (click)="red4=true" ></div>
            <div *ngIf='red4' class="red41" (click)="red4=false" ></div>
            <div  class="red5" (click)="red5=true" ></div>
            <div *ngIf='red5' class="red51" (click)="red5=false" ></div>
    </div>
    <div *ngIf='mapsmall' class="mapsmall" (click)="expandPiece('mapsmall')"></div>
    <div *ngIf='mapbig' class="mapbig" (click)="hidePiece('mapbig')"></div>
    
    <div class="paper" (click)="expandPiece('paper')"></div>
    <div *ngIf='paperclue' class="paperclue" (click)="hidePiece('paper')"></div>
    <div *ngIf='firearrow'  class="firearrow" ></div>
      


      <div class="safecode" (click)="expandPiece('safe')"></div>
  
      <div *ngIf='showSafe' class=" safecode1">
   
        <input #finalcode id="finalcode"
          class="inputans w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
        <div class="bttnans" (click)="checkCode(finalcode.value, 'safe')"></div>
      </div>


      
      <div class="hints" (click)="hintsection=!hintsection"></div>


      <div *ngIf='hintsection' class="hintsection card card-coin card-plain">
        <div class="">
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-danger mr-1">Spoiler Alert !</button>
              <hr class="line-primary" />

              <button type="button" (click)="hint1=!hint1" class="btn btn-primary btn-sm mr-1">Hint 1</button>
              <p *ngIf='hint1'>
                <!-- class="text-primary" -->
                The Symbols are shaped as letters!
              </p>
              <button type="button" (click)="hint2=!hint2;" class="btn btn-primary btn-sm mr-1">Hint 2</button>
              <p *ngIf='hint2'>
                Enter the correct colour sequence from another room!
              </p>
              <button type="button" (click)="hint3=!hint3;" class="btn btn-primary btn-sm mr-1">Hint 3</button>
              <p *ngIf='hint3'>
                Tiles give the order and colour code of Final Answer
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='endPage'>
    <div class="startPage text-center">
      <h3 style="margin-bottom: 2px;">YOU ESCAPED THE BOX !</h3>
      <i class="text-primary">WE MUST ADMIT ! YOU ARE AMAZING !!</i>
    </div>
    <div style="position: relative; margin: -2px;">
      <img src="assets/classic/startpagebottom.png" class="room ">
      <div class="container endpage">
        <div style="padding:10px 45px 10px 45px;" class="card card-coin card-plain">
          <div class="text-center">
            <p> Grey Matter, matters ! </p>
            <hr class="line-primary" />
            Enter Team Name:
            <input class="form-control" placeholder="Team Name" type="text" (focus)="focus = true"
              (blur)="focus = false" #teamname1 />
            Submit Review:
            <input class="form-control" placeholder="Cursed Box Review" type="text" (focus)="focus = true"
              (blur)="focus = false" #review />
            <label class="form-check-label">
              <input #leaderboard class="form-check-input" type="checkbox" />
              <span class="form-check-sign"> </span> Publish in Leaderboard
            </label>
            <br>
            <div class="btn btn-primary btn-simple"
              (click)="teamEndTime(teamname1.value, review.value,  leaderboard.checked , 'cursed');">
              <strong>End Game !</strong>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isEndError">
          <h3>{{errend}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>