.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .topbar{
    background: #171941;
    left: 0%;
    top: 0%;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-bottom: 2px;
    text-align: left;
    padding-top: 2px;

  }

  .toptext{
    color: #ffffff;
    font-size: 12px;    
  }

  #level0{
    position: absolute;
    z-index: 1;
    margin: 0px 150px 50px 150px;
  
  }


  .room{

    background-size: cover;
    z-index: 1;

}
.area{
  max-height:95%;
  max-width: 95%;
  
}




.hints{
  left: 0.25%;
    bottom: 0.25%;
    position: absolute;
    width: 13%;
    height: 8%;
    border-radius: 4px;
    cursor: pointer;
  z-index: 3;
  background: transparent url(/assets/classic/hint.png) no-repeat;
  background-size: contain;
}
.hintsection{
   left: 0%;
  top: 104%;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-bottom: 2px;
  text-align: left;
  padding: 2px;
}
.startPage{ 
  background-color: black;
  width: 100%;
  padding: 32px;  
}
.endpage{
  left: 30%;
    top: 5%;
    position: absolute;
    width: 40%;
}


.piece44{
  left: 2%;
  top: 86%;
  position: absolute;
  width: 8%;
  height: 9%;
  cursor: pointer;
  background: transparent url(/assets/classic/p1_bluedot.png) no-repeat; 
  z-index: 2;
  background-size: contain;
}


.pyramid{
  left: 45%;
  top: 21%;
  position: absolute;
  width: 6%;
  height: 6%;
  cursor: pointer;
  z-index: 2;

}



.pyramidclue{
  left: 41.5%;
    top: 70%;
    position: absolute;
    width: 16%;
    height: 10%;
    background: transparent url(/assets/pyramid/answerenter.png) no-repeat;
    z-index: 3;
    background-size: contain;
}

.inputlock{
  border-radius: 3px;
  border: sandybrown;
  left: 10%;
  top: 26%;
  position: absolute;
  width: 55%;
  height: 42%;
  z-index: 3;
}

.bttnlock{
  left: 68%;
  top: 21%;
  position: absolute;
  width: 21%;
  height: 56%;
  cursor: pointer;
  z-index: 3;

}
 .scorpionclue1{
  left: 11%;
    top: 45%;
    position: absolute;
    width: 14%;
    height: 30%;
  background: transparent url(/assets/pyramid/scorpion1.png) no-repeat;
  z-index: 3;
  background-size: contain;
 }
 .scorpionclue2{
  left: 7%;
    top: 75%;
    position: absolute;
    width: 21%;
    height: 14%;
  background: transparent url(/assets/pyramid/scorpion2.png) no-repeat;
  z-index: 3;
  background-size: contain;

}

.blue1{
  left: 1%;
  top: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.blue11{
  left: 1%;
    top: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/blueblock.png) no-repeat;
  background-size: contain;
}



.blue2{
  left: 21%;
  top: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.blue21{
  left: 21%;
    top: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/blueblock.png) no-repeat;
  background-size: contain;
}

.blue3{
  left: 41.5%;
  top: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.blue31{
  left: 41.5%;
    top: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/blueblock.png) no-repeat;
  background-size: contain;
}

.blue4{
  left: 61.75%;
  top: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.blue41{
  left: 61.75%;
    top: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/blueblock.png) no-repeat;
  background-size: contain;
}

.blue5{
  right: 1%;
  top: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.blue51{
  right: 1%;
    top: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/blueblock.png) no-repeat;
  background-size: contain;
}

.red1{
  left: 1%;
  bottom: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.red11{
  left: 1%;
  bottom: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/redblock.png) no-repeat;
  background-size: contain;
}


.red2{
  left: 21%;
  bottom: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.red21{
  left: 21%;
  bottom: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/redblock.png) no-repeat;
  background-size: contain;
}

.red3{
  left: 41.5%;
  bottom: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.red31{
  left: 41.5%;
  bottom: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/redblock.png) no-repeat;
  background-size: contain;
}

.red4{
  left: 61.75%;
  bottom: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.red41{
  left: 61.75%;
  bottom: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/redblock.png) no-repeat;
  background-size: contain;
}

.red5{
  right: 1%;
  bottom: 0.5%;
  position: absolute;
  width: 17%;
  height: 50%;
  cursor: pointer;
  z-index: 4;
 
}
.red51{
  right: 1%;
  bottom: 0.5%;
    position: absolute;
    width: 17%;
    height: 50%;
  cursor: pointer;
  z-index: 10;
  background: transparent url(/assets/pyramid/redblock.png) no-repeat;
  background-size: contain;
}
.mapsmall{
  left: 68%;
  top: 55.5%;
  position: absolute;
  width: 6%;
  height: 7%;
  cursor: pointer;
  z-index: 3;
  background: transparent url(/assets/pyramid/mapsmall.png) no-repeat;
  background-size: contain;
}

.mapbig{
  left: 7%;
    top: 11.5%;
    position: absolute;
    width: 70%;
    height: 79%;
  z-index: 20;
  background: transparent url(/assets/pyramid/mapbig.png) no-repeat;
  background-size: contain;
}

.paper{
  left: 88%;
    top: 17%;
    position: absolute;
    width: 5%;
    height: 10%;
    cursor: pointer;
  z-index: 3;
}

.paperclue{
  left: 78%;
    top: 12.5%;
    position: absolute;
    width: 20%;
    height: 39%;
    z-index: 5;
  background: transparent url(/assets/pyramid/paperclue.png) no-repeat;
  background-size: contain;
}