 <!--
<script type="text/javascript" src="../../../../assets/resize/jquery.rwdImageMaps.js"></script>
 <script type="text/javascript" src="../../../../assets/resize/jquery.rwdImageMaps.min.js"></script> 
  <script>
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>
 -->

  <nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> Classic Box • </span> Think inside the Box !<span> • Player 1  </span>
      </a>
   
       
    </div>
    
   
  </div>
</nav>
<div class="wrapper">
  
   <!-- <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />  -->
   <section class="section ">
   <div  >   
    <div class="level2">


    </div>
       
      <div class="level1">

        <div class="buttons">
          <div class="bttn yellow" (click)="expandPiece('y')"></div>
          <div class="bttn red" (click)="expandPiece('r')"></div>
          <div class="bttn green" (click)="expandPiece('g')" ></div>
          <div class="bttn blue"  (click)="expandPiece('b')"></div>  
       </div>  
       <div   class="buttons">
        <div class="bttn yellow1" *ngIf="showdoty" (click)="contractPiece('y')"></div>
        <div class="bttn red1" *ngIf="showdotr" (click)="contractPiece('r')"></div>
        <div class="bttn green1" *ngIf="showdotg" (click)="contractPiece('g')" ></div>
        <div class="bttn blue1"  *ngIf="showdotb" (click)="contractPiece('b')"></div>  
     </div>  


      </div>
      <div class="level0" id="level0">

      <!--  <div style="background-image:'assets/classic/classic1.jpg' " class='room' id='room'></div>
   src="assets/classic/classic1.jpg"
      -->

      <div class='room' id='room'></div>
        </div>
        
       



<!--
<img #playerbar src="assets/classic/classic1.jpg" alt="p1_bar" usemap="#p1_bar" class="imagebox" width="2000" height="1125"  >

<map name="p1_bar">
  {{wid1/3.81,hei1/4.95,wid1/3.33,hei1/4.08}}
  <area shape="rect" coords="529,255,2000,1120" (click)="yellow()">
</map>

 -->
      </div>  

<!-- 
    <div class="container">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        Drag me around
        
      </div>
    </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        test
      </div>
    </div>
 -->

  </section>   
 <!--
  <script type="text/javascript" src="../../../../assets/resize/imageMapResizer.min.js"></script> 
   <script type="text/javascript">
     $(document).ready(function(e) {
       //  $('img[usemap]').rwdImageMaps();
       $('map').imageMapResize();
     });
 </script>
-->
</div>
