.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .topbar{
    background: #171941;
    left: 0%;
    top: 0%;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding-bottom: 2px;
    text-align: left;
    padding-top: 2px;

  }

  .toptext{
    color: #ffffff;
    font-size: 12px;    
  }
  .piece4{
    left: 3%;
    top: 87%;
    position: absolute;
    width: 6%;
    height: 7%;
    cursor: pointer;
    z-index: 2;
   
  }
  .piece44{
    left: 2%;
    top: 86%;
    position: absolute;
    width: 8%;
    height: 9%;
    cursor: pointer;
    background: transparent url(/assets/classic/p1_bluedot.png) no-repeat; 
    z-index: 2;
    background-size: contain;
  }
  .piece2{
    left: 26.5%;
    top: 23%;
    position: absolute;
    width: 4%;
    height: 4%;
    cursor: pointer;
    
  }
  .piece22{
    left: 24.5%;
    top: 22%;
    position: absolute;
    width: 8%;
    height: 9%;
    cursor: pointer;
    background: transparent url(/assets/classic/p1_yellowdot.png) no-repeat; 
    z-index: 2;
    background-size: contain;
  }
  .piece3{
    left: 81.5%;
    top: 72%;
    position: absolute;
    width: 6%;
    height: 6%;
    cursor: pointer;
    
 
  }
  .piece33{
    left: 79.5%;
    top: 71%;
    position: absolute;
    width: 8%;
    height: 9%;
    cursor: pointer;
    background: transparent url(/assets/classic/p1_greendot.png) no-repeat; 
    z-index: 2;
    background-size: contain; 
  }
  .piece1{
    left: 90.5%;
    top: 24%;
    position: absolute;
    width: 3%;
    height: 10%;
    cursor: pointer;
    
   
  }
  .piece11{
    left: 88.5%;
    top: 26%;
    position: absolute;
    width: 8%;
    height: 9%;
    cursor: pointer;
    background: transparent url(/assets/classic/p1_reddot.png) no-repeat; 
    z-index: 2;
    background-size: contain; 
  }

  
  .piece5{
    left: 50.5%;
    top: 63%;
    position: absolute;
    width: 17%;
    height: 17%;
    cursor: pointer;
   
  }
  .piece55{
    left: 47.5%;
    top: 57%;
    position: absolute;
    width: 22%;
    height: 39%;
    cursor: pointer;
    background: transparent url(/assets/classic/p1_bottleclick.png) no-repeat; 
    z-index: 2;
    background-size: contain; 
  }


  #level0{
    position: absolute;
    z-index: 1;
    margin: 0px 150px 50px 150px;
  
  }


  .room{

  /*  background: transparent url(/assets/classic/classic1new.png) 50% 50% no-repeat;  */
    background-size: cover;
    z-index: 1;

}
.area{
  max-height:95%;
  max-width: 95%;
  
}

.hex1{
  left: 20%;
    top: 42%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
    
}
.hex2{
  left: 22.5%;
    top: 35%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
    
}
.hex3{
  left: 25%;
    top: 42%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
    
}
.hex4{
  left: 27.5%;
    top: 35%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
    
}
.hex5{
  left: 30%;
    top: 42%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
    
}
.hex6{
  left: 33%;
    top: 35%;
    position: absolute;
    width: 3%;
    height: 6%;
    cursor: pointer;
}
.scroll{
  left: 51.5%;
  top: 12%;
  position: absolute;
  width: 37%;
  height: 20%;
  background: transparent url(/assets/classic/p1_followscript.png) no-repeat; 
  z-index: 2;
  background-size: contain;
}
/*
.hex1:hover
{
    background-color:blue;
    color:white;
}
*/
.safecode{
  left: 18%;
    top: 67%;
    position: absolute;
    width: 10%;
    height: 11%;
    cursor: pointer;
}
.bulb{
  left: 44.5%;
    top: 13%;
    position: absolute;
    width: 8%;
    height: 13%;
  background: transparent url(/assets/classic/p1_bulboff.png) no-repeat; 
  z-index: 2;
  background-size: contain;
}
.bulbon{
  left: 44.5%;
    top: 13%;
    position: absolute;
    width: 8%;
    height: 13%;
  background: transparent url(/assets/classic/p1_bulbon.png) no-repeat; 
  z-index: 3;
  background-size: contain;
}

.bttnans{
  left: 34%;
    top: 58%;
    position: absolute;
    width: 30%;
    height: 30%;
  cursor: pointer;
  z-index: 3;
}
.inputans{
 
  border-radius: 5px;
  left: 11.5%;
  top: 14%;
  position: absolute;
  width: 77%;
  height: 33%;
  z-index: 3;
  
}
/* 
.safecode1{
  left: 15%;
    top: 65%;
    position: absolute;
    width: 18%;
   
    cursor: pointer;
   padding: 4px;
    border-radius: 7px;
    background-color: antiquewhite;
    border-width: medium;  
    background: transparent url(/assets/classic/lock.png) no-repeat; 
  z-index: 2;
  background-size: contain;

}*/

.safecode1{
  padding: 5px;
    left: 14%;
    top: 62%;
    position: absolute;
    width: 17%;
    height: 21%;
    
    background: transparent url(/assets/classic/lock.png) no-repeat;
    z-index: 2;
    background-size: contain;
    border-radius: 9px;
}

.scrollclue{ 
  left: 3%;
  top: 16%;
  position: absolute;
  width: 10%;
  height: 18%;   
    cursor: pointer; 
    background: transparent url(/assets/classic/scroll.png) no-repeat;
    z-index: 2;
    background-size: contain;
}

.scrollclue1{
  left: 2%;
    top: 10%;
    position: absolute;
    width: 15%;
    height: 32%;  
    background: transparent url(/assets/classic/p1_scroll.png) no-repeat;
    z-index: 3;
    background-size: contain;
}


.lockclue{ 
  left: 72%;
  top: 59%;
  position: absolute;
  width: 10%;
  height: 12%; 
    cursor: pointer; 
    background: transparent url(/assets/classic/lockclue.png) no-repeat;
    z-index: 2;
    background-size: contain;
}

.lockclue1{
  left: 69%;
  top: 29%;
  position: absolute;
  width: 14%;
  height: 32%; 
    background: transparent url(/assets/classic/p1_scrollclue.png) no-repeat;
    z-index: 3;
    background-size: contain;
}

.bttnlock{
  left: 56%;
  top: 20%;
  position: absolute;
  width: 21%;
  height: 19%;
  cursor: pointer;
  z-index: 3;
  background: transparent url(/assets/classic/red_button.png) no-repeat;
  background-size: contain;

}
.inputlock{
 
  border-radius: 4px;
  left: 23%;
  top: 59%;
  position: absolute;
  width: 53%;
  height: 16%;
  z-index: 3;
}


.arrow{
  left: 36%;
  top: 29%;
  position: absolute;
  width: 23%;
  height: 26%;
  
  z-index: 3;
  background: transparent url(/assets/classic/p1_arrow.png) no-repeat;
  background-size: contain;
}
.hints{
  right: 0.25%;
    bottom: 0.25%;
    position: absolute;
    width: 13%;
    height: 8%;
    border-radius: 4px;
    cursor: pointer;
  z-index: 3;
  background: transparent url(/assets/classic/hint.png) no-repeat;
  background-size: contain;
}
.hintsection{
   left: 0%;
  top: 104%;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-bottom: 2px;
  text-align: left;
  padding: 2px;
}
.startPage{ 
  background-color: black;
  width: 100%;
  padding: 32px;  
}
.endpage{
  left: 30%;
    top: 5%;
    position: absolute;
    width: 40%;
}