 <!--
<script type="text/javascript" src="../../../../assets/resize/jquery.rwdImageMaps.js"></script>
 <script type="text/javascript" src="../../../../assets/resize/jquery.rwdImageMaps.min.js"></script> 
  <script>
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>


  <nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> Classic Box • </span> Think inside the Box !<span> • Player 1  </span>
      </a>
   
       
    </div>
    
   
  </div>
</nav>
<div class="wrapper">
  
   <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />  
   <section class="section ">
   <div  >   
    <div class="level2">


    </div>
       
      <div class="level1">

        <div class="buttons">
          <div class="bttn yellow" (click)="expandPiece('y')"></div>
          <div class="bttn red" (click)="expandPiece('r')"></div>
          <div class="bttn green" (click)="expandPiece('g')" ></div>
          <div class="bttn blue"  (click)="expandPiece('b')"></div>  
       </div>  
       <div   class="buttons">
        <div class="bttn yellow1" *ngIf="showdoty" (click)="contractPiece('y')"></div>
        <div class="bttn red1" *ngIf="showdotr" (click)="contractPiece('r')"></div>
        <div class="bttn green1" *ngIf="showdotg" (click)="contractPiece('g')" ></div>
        <div class="bttn blue1"  *ngIf="showdotb" (click)="contractPiece('b')"></div>  
     </div>  


      </div>
      <div class="level0" id="level0">

       <div style="background-image:'assets/classic/classic1.jpg' " class='room' id='room'></div>
   src="assets/classic/classic1.jpg"
     

      <div class='room' id='room'></div>
        </div>
        
       




<img #playerbar src="assets/classic/classic1.jpg" alt="p1_bar" usemap="#p1_bar" class="imagebox" width="2000" height="1125"  >

<map name="p1_bar">
  {{wid1/3.81,hei1/4.95,wid1/3.33,hei1/4.08}}
  <area shape="rect" coords="529,255,2000,1120" (click)="yellow()">
</map>


      </div>  


    <div class="container">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        Drag me around
        
      </div>
    </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".section" cdkDrag>
        test
      </div>
    </div>
 

  </section>   

  <script type="text/javascript" src="../../../../assets/resize/imageMapResizer.min.js"></script> 
   <script type="text/javascript">
     $(document).ready(function(e) {
       //  $('img[usemap]').rwdImageMaps();
       $('map').imageMapResize();
     });
 </script>

</div>
-->


<div class="wrapper" >
<!--
  <div>
    <div class="topbar progress-container progress-danger">
      <span class="progress-badge"> Grey Matter • Classic Box • Player 1 </span>
      <progressbar #p1progress class="progress-bar-danger" [value]="2">
        <span class="progress-value"> 0/3 </span>
      </progressbar>
    </div>
  </div>
-->


  <div class="area text-center" >
    <div class="level0 " id="level0" >

    <img  src="assets/classic/classic1new.png" class="room " > 

    <div class="topbar progress-container progress-danger">
      <span class="toptext"> GREY MATTER ESCAPE ROOMS • Classic Box • Player 1 • Team name </span>        
    </div>  
    
    <div class="piece1" (click)="expandPiece('r')"></div>
    <div class="piece2" (click)="expandPiece('y')"></div>
      <div class="piece3" (click)="expandPiece('g')" ></div>
      <div class="piece4"  (click)="expandPiece('b')"></div> 
      <div class="piece5"  (click)="expandPiece('bottle')"></div> 

      <div *ngIf='redkey' class="piece11" (click)="hidePiece('r')"></div>
      <div *ngIf='yellowkey' class="piece22" (click)="hidePiece('y')"></div>
      <div *ngIf='greenkey' class="piece33" (click)="hidePiece('g')"></div>
      <div *ngIf='bluekey' class="piece44" (click)="hidePiece('b')"></div>
      <div *ngIf='bottle' class="piece55" (click)="hidePiece('bottle')"></div>

      <div *ngIf='p1_clues' class="scroll"></div>

      <div class="hex1"  (click)="p1_sequence('1')"></div> 
      <div class="hex2"  (click)="p1_sequence('2')"></div> 
      <div class="hex3"  (click)="p1_sequence('3')"></div> 
      <div class="hex4"  (click)="p1_sequence('4')"></div> 
      <div class="hex5"  (click)="p1_sequence('5')"></div> 
      <div class="hex6"  (click)="p1_sequence('6')"></div> 

      <div class="bulb"  ></div>
      <div *ngIf='showBulb' class="bulbon" ></div>

      <div class="safecode"  (click)="expandPiece('safe')"></div> 
<!--
      <div *ngIf='showSafe' class="safecode">
        <input #finalcode class="w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
        <button (click)="checkCode(finalcode.value)">Open</button>
      </div>
    -->
      
<div *ngIf='showSafe' class=" safecode1">
    <!--
      <input #finalcode id="finalcode" class="inputans w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
      <button class="btn btn-default bttnans" (click)="checkCode(finalcode.value)" type="button">O</button>
     -->
     <input #finalcode id="finalcode" class="inputans w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
     <div class="bttnans"  (click)="checkCode(finalcode.value, 'safe')"></div> 
</div>


<div class="scrollclue" (click)="expandPiece('scrollclue')"></div>
<div *ngIf='scrollclue' class="scrollclue1"></div>    

<div class="lockclue" (click)="expandPiece('lockclue')"></div>
<div *ngIf='lockclue' class="lockclue1">
  <input #lockcode id="lockcode" class="inputlock w3-input w3-round-large w3-border w3-light-grey w3-hover-pale-yellow" type="text">
     <div class="bttnlock"  (click)="checkCode(lockcode.value, 'lock')"></div> 
</div>  
<div *ngIf='arrow'class="arrow" ></div>
  </div>

  </div>


</div>


